---
import MainGridLayout from "../layouts/MainGridLayout.astro";

import GameCard from "../components/GameCard.astro";
import { type GameWithDisplayYear, gamesByYear } from "../data/game-list";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
---

<MainGridLayout title={i18n(I18nKey.about)} description={i18n(I18nKey.about)}>
	<div class="w-full h-full">
		{
			Object.keys(gamesByYear)
				.sort((a, b) => parseInt(b) - parseInt(a)) // Sort years in descending order
				.map((year) => (
					<div class="mt-4 mb-2 first:mt-0">
						<h2 class="text-2xl font-bold text-black/75 dark:text-white/75">
							{year}
						</h2>
						<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-4">
							{gamesByYear[parseInt(year)].map(
								(game: GameWithDisplayYear) => (
									<GameCard
										name={game.name}
										link={game.link}
										type={game.type}
										image={game.image}
										year={game.year}
									/>
								),
							)}
						</div>
					</div>
				))
		}
	</div>
</MainGridLayout>
